<div>
  <h1>Diretivas</h1>
</div>
<section>
  <article>
    <h2>Diretiva ngIf</h2>
    <diretiva-ngif></diretiva-ngif>
  </article>
</section>
<br>
<section>
  <article>
    <h2>Diretiva ngSwitch</h2>
    <diretiva-ngswitch></diretiva-ngswitch>
  </article>
</section>
<br>
<section>
  <article>
    <h2>Diretiva ngFor</h2>
    <diretiva-ngfor></diretiva-ngfor>
  </article>
</section>
<br>
<section>
  <article>
    <h2>Diretiva ngClass</h2>
    <diretiva-ngclass></diretiva-ngclass>
  </article>
</section>
<br>
<section>
  <article>
    <h2>Diretiva ngStyle</h2>
    <diretiva-ngstyle></diretiva-ngstyle>
  </article>
</section>
<br>
<section>
  <article>
    <h2>Operador elvis</h2>
    <operador-elvis></operador-elvis>
  </article>
</section>
<br>
<section>
  <article>
    <h2>Exemplo ng content</h2>
    <exemplo-ng-content>
      <div class="titulo">Título do card</div>
      <div class="corpo">
        Conteúdo passado para o corpo do card
      </div>
      <div class="corpo">
        Conteúdo 2 passado para o corpo do card
      </div>
    </exemplo-ng-content>
  </article>
</section>
<br>
<section>
  <article>
    <h2>Diretivas customizadas</h2>
    <diretivas-customizadas></diretivas-customizadas>
  </article>
</section>
