<div>
  <h1>Comandos e exemplos do Angular CLI</h1>
</div>
<section>
  <article>
    <h2>Instalação e criação de projetos</h2>
    <ul>
      <li>Criar um novo projeto: <strong>ng new nome-do-projeto</strong></li>
      <li>Rodar o projeto no browser: <strong>ng serve</strong></li>
    </ul>
  </article>
</section>
<section>
  <article>
    <h2>Criação de componentes, serviços e outros comandos</h2>
    <ul>
      <li>Criar um componente: <strong>ng generate component nome-componente</strong> ou <strong>ng g c nome-componente</strong></li>
      <li>Criar um serviço: <strong>ng generate service pasta-componente/nome-servico</strong> ou <strong>ng g s pasta-componente/nome-servico</strong></li>
      <li>Criar uma diretiva: <strong>ng generate directive minha-diretiva</strong></li>
      <li>Criar um pipe: <strong>ng generate pipe meu-pipe</strong></li>
      <li>Criar uma classe: <strong>ng generate class minha-classe</strong></li>
      <li>Criar uma interface: <strong>ng generate interface minha-interface</strong></li>
      <li>Criar um enum: <strong>ng generate enum meu-enum</strong></li>
    </ul>
  </article>
</section>
<section>
  <article>
    <h2>Usando Sass, Less ou Stylus</h2>
    <ul>
      <li>Mudar a extensão padrão do estilo: <strong>ng config schematics.@schematics/angular:component.style scss</strong></li>
    </ul>
  </article>
</section>
